@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #292929;
    color: #CCCCCC;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    min-height:300vh ;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 135px;
    align-items: center;
    background: linear-gradient(120deg, rgba(255, 253, 253, 0.8), rgba(255, 253, 253, 0.78));
    font-weight: 800;
    z-index: 9999;
}

header nav {
    display: grid;
    grid-template-columns: auto auto;
    width: 100vw;
    justify-content: space-around;
    align-items: center;

}

header nav img {
    position: relative;
    display: flex;
    justify-self: center;
    max-width: 60px;
    border-radius: 30%;
    box-shadow: 0px 0px 68px 7px rgba(84, 27, 137, 0.82);
    -webkit-box-shadow: 0px 0px 68px 7px rgba(84, 27, 137, 0.82);
    -moz-box-shadow: 0px 0px 68px 7px rgba(84, 27, 137, 0.82);
}

header nav ul {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0;
    font-size: 20px;
}

header nav ul li {
    list-style: none;
    margin: 0 30px;

}

header nav ul .active {
    line-height: 24px;
    color: #0275d8;
    font-weight:900;
    padding: 8px;
    border-radius: 12px;

}

header nav ul li a {
    text-decoration: none;
    color: white;

    line-height: 22px;
    padding: 12px;
    border-radius: 12px;
    transition: all .3s ease-in-out;
}

header nav ul li a:hover {
    transform: translateY(10px);
    transition: all .3s ease-in-out;
    color: #0275d8;
}

.frame {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.frame .image {
    margin-top: 200px;
    place-self: center;
    height: 100vh;
    max-width: 50%;
    justify-content: center;
    position: relative;
    bottom: 100px;
}

.frame .image :nth-child(2) {
    font-size: 24px;
    font-weight: 600;
    padding: 5px 10px;
    background-color: #f9e000de;
    color: #292929;
    border-radius: 10px;
    text-align: center;
    animation-name: shadowfx;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes shadowfx {
    0% {
        background-color: rgba(255, 215, 0, 1);
        box-shadow: 0px 0px 68px 7px #ce1616;
    }
    
    50% {
        box-shadow: 0px 0px 68px 7px #4ed01a;
    }
    70%{
        box-shadow: 0px 0px 68px 7px rgba(41, 127, 203, 0.84);

    }
    
    80% {
        box-shadow: 0px 0px 68px 7px rgba(255, 215, 0, 0.5);
    }
    100%{
        box-shadow: 0px 0px 68px 7px #ce1616;
        
    }
}
.frame .box {
    visibility: hidden;
    opacity: 0;
}
.frame .intro {
    display: flex;
    visibility: hidden;
    top: 100px;
    position: relative;
    text-align: center;
    background-color: #6E07F3;
    min-height: 500px;
    padding: 30px 260px;
    flex-direction: column;
    place-content: center;
    transition: 3s;
}

.frame .intro .head {
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
}

.frame .intro:last-child {
    font-weight: 600;
}

.frame .intro .description .l {
    color: #FF69B4;
}
.frame .visible{
    visibility: visible;
    animation: type ;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    opacity: 1;
}
@keyframes type {
    0%{
        opacity: 0;
        transition:all 3s ease-in-out;
    }
    25%{
        opacity:.25 ;
    }
    50%{
        opacity:.5 ;
    }
    100%{
        opacity: 1;
        transition:all 3s ease-in-out;
        
    }
    
}
/* .frame .fade-in {
    opacity: 0;
    transition: opacity .2s;
}

.frame .fade-in.visible {
    opacity: 1;
} */
.frame .skills  {
    top: 80px;
    min-height: 200px;
    position: relative;
    border-radius: 13px;
    place-self: center;
    width: 80%;
    color: #6E07F3;
    background: rgba(241, 241, 241,.8);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 50px 7px #000;
    padding: 5px 20px;

}
.frame .skills ul {
    place-self: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 100%;
}
.frame .skills ul span {
    width: 90%;
    margin:0 10%;
    place-content: center;
}
.frame .skills ul span li {
    display: flex;
    font-size: larger;
    flex-direction: row;
    align-items: center;
    justify-content:space-between ;
}

.frame .skills ul span li i{
    font-size: 42px;
}
.frame .skills h1 {
    text-align: center;
    border-bottom: 2px solid #000;
}














@media only screen and (max-width: 800px) {
    header {
        height: 70px;
        z-index: 9999999;
    }

    header nav img {
        top: 10px;
        width: 40px;
        align-self: center;
    }

    header nav ul li {
        font-size: small;
        margin: 0 3px;
        border-radius: 8px;
    }

    header nav ul li a {
        font-size: small;
        border-radius: 8px;
    }

    .frame .image {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        bottom: 0;
    }

    .frame .image img {

        place-self: center;
        max-width: 90%;
    }

    .frame .intro {
        padding: 30px 60px;
    }

    .frame .skills {
        padding: 2% 5%;
    }
    .frame .skills ul span li {
        font-size: small;
    }
    .frame .skills ul span li i{
        font-size: 20px;
    }
}